.main_content {
    margin: 0 auto;
    width: 1200px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.projects {
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: #f9f2ed;
}

.right_sidebar {
    grid-column-start: 5;
    grid-column-end: 6;
    border-left: 3px solid #fff;
    background-color: #edf6f9;
}