.main_content {
    margin: 0 auto;
    width: 1200px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.pogects {
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: #f9f2ed;
}

.right_sidebar {
    grid-column-start: 5;
    grid-column-end: 6;
    border-left: 3px solid #fff;
    background-color: #edf6f9;

    ul {
        margin: 0 auto;
        padding: 0;

        li {
            width: 70%;
            list-style: none;
            text-align: center;
            margin: 30px auto;
            background: #fff;
            border-radius: 10px;
            line-height: 23px;
            box-shadow: 0 3px 5px rgb(0 0 0 / 10%);
            transition: all 0.1s ease-in-out;

            &:hover {
                box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
                transform: translateY(-1px);
            }

            &:active {
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
                transform: translateY(0);
            }

            a {
                display: block;
                width: 100%;
                color: #000;
                text-decoration: none;
                font-weight: 500;
                font-size: 18px;
                padding: 9px 0;
            }
        }
    }
}